<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=all">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/ace.min.css">
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all">
    <!--JS jquery-->
    <script src="assets/js/jquery.min.js"></script>
    <!--JS Angular-->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-resource.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-cookies.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="assets/js/spin.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>

<body ng-app="cms_core" class="login-layout">
    <div ng-controller="LoginCtrl">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <i class="ace-icon fa fa-leaf green"></i>
                                    <span class="red">Soft</span>
                                    <span class="white" id="id-text2">Application</span>
                                </h1>
                            </div>
                            <div class="space-6"></div>
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <i class="ace-icon fa fa-coffee green"></i> Nhập thông tin tài khoản
                                            </h4>
                                            <div class="space-6"></div>
                                            <fieldset>
                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input class="form-control" type="text" ng-model="username" name="username" placeholder="Tài khoản"/>
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                              <input class="form-control" type="password" ng-model="password" name="password" placeholder="Mật khẩu"/>
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <label class="inline">
                                                            <input  type="checkbox" ng-model="checkbox" name="checkbox"/>
                                                            <span class="lbl"> Ghi chớ</span>
                                                        </label>
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                            <span class="bigger-110">Đăng nhập</span>
                                                    </button>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                            <div class="social-or-login center">
                                                <span class="bigger-110">Đăng nhập với</span>
                                            </div>
                                            <div class="space-6"></div>
                                            <div class="social-login center">
                                                <a class="btn btn-primary">
                                                    <i class="ace-icon fa fa-facebook"></i>
                                                </a>
                                                <a class="btn btn-info">
                                                    <i class="ace-icon fa fa-twitter"></i>
                                                </a>
                                                <a class="btn btn-danger">
                                                    <i class="ace-icon fa fa-google-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.widget-main -->
                                        <div class="toolbar clearfix">
                                            <div>
                                                <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                    <i class="ace-icon fa fa-arrow-left"></i> Quên mật khẩu
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" data-target="#signup-box" class="user-signup-link">
                                                Đăng ký mới
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.login-box -->
                                <div id="forgot-box" class="forgot-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header red lighter bigger">
                                                <i class="ace-icon fa fa-key"></i> Lấy lại mật khẩu
                                            </h4>
                                            <div class="space-6"></div>
                                            <p>
                                                Nhập email của bạn để nhận hướng dẫn
                                            </p>
                                            <form>
                                                <fieldset>
                                                    <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                    <div class="clearfix">
                                                        <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Gửi tôi!</span>
                                                    </button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <!-- /.widget-main -->
                                        <div class="toolbar center">
                                            <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Trở lại đăng nhập
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                        </div>
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.forgot-box -->
                                <div id="signup-box" class="signup-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header green lighter bigger">
                                                <i class="ace-icon fa fa-users blue"></i> Đăng ký tài khoản mới
                                            </h4>
                                            <div class="space-6"></div>
                                            <p> Nhập chi tiết của bạn để bắt đầu: </p>
                                            <form>
                                                <fieldset>
                                                    <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                    <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Username" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                    <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Password" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                    <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Repeat password" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>
                                                    <label class="block">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl">
                                                        Tôi chấp nhận
                                                    </span>
                                                </label>
                                                    <div class="space-24"></div>
                                                    <div class="clearfix">
                                                        <button type="reset" class="width-35 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Thiết lập</span>
                                                    </button>
                                                        <button type="button" class="width-60 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">Đăng ký</span>
                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="toolbar center">
                                            <a href="#" data-target="#login-box" class="back-to-login-link">
                                                <i class="ace-icon fa fa-arrow-left"></i> Trở về đăng nhập
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.signup-box -->
                            </div>
                            <!-- /.position-relative -->
                            <div class="navbar-fixed-top align-right">
                                <br /> &nbsp;
                                <a id="btn-login-dark" href="#">Màu tối</a> &nbsp;
                                <span class="blue">/</span> &nbsp;
                                <a id="btn-login-blur" href="#">Màu xanh</a> &nbsp;
                                <span class="blue">/</span> &nbsp;
                                <a id="btn-login-light" href="#">Màu sáng</a> &nbsp; &nbsp; &nbsp;
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.main-content -->
        </div>
        <!-- /.main-container -->
    </div>
</body>
</html>
<script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
         //you don't need this, just used for changing background
        jQuery(function ($) {
            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');
                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');
                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');
                e.preventDefault();
            });
        });
</script>